* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}




h1{
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2,p{
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), 
    rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), 
    rgba(255,255,255,0.212));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1{
    top: 5%;
    right: 15%;
}

.circle2{
    bottom: 5%;
    left: 15%;
}

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), 
    rgba(255,255,255,0.3));
    border-radius: 2rem;
    border-radius: 2rem;
}

.link{
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2{
    padding: 0rem 2rem;

}

.games{
    flex: 2;
}

.pro{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    position: relative;
}

.pro img{
    position: absolute;
    top: -10%;
    right: 10%;
}

.pro h2{
    width: 40%;
    color: white;
    font-weight: 600;
}

/* Games Section */

.status{
    margin-bottom: 3rem;
}

.status input{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), 
    rgba(255,255,255,0.3));
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.games{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.card{
    display: flex;
    background: linear-gradient(to left top, rgba(255,255,255,0.8), rgba(255,255,255,0.5));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    justify-content: space-between;
}

.progress{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

#game1::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
}

#game2::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 40%;
}


#game3::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 80%;
}



.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.percentage{
    font-weight: bold;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



#Shoto{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}


/* -------- Hidden Search -------- */

.search {
    position: relative;
    height: 50px;
}

.search .input{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), 
    rgba(255,255,255,0.3));
border: 0;
font-size: 18px;
padding: 15px;
height: 50px;
width: 50px;
transition: width 0.3s ease;
}

.btn{
    background-color: white;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;  
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus{
    outline: none;
}

.search.active .input{
width: 200px;
}

.search.active .btn{
    transform: translateX(204px);
}

/* ------------------------------- */

/* ----- Animated NavBar Section ------ */

.container{
    background-color: black;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 0px;


}

.container.show-nav{
    transform: rotate(-12deg);
}

.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}


.circle-nav{
    background-color: #FF7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: fixed;
    transition: transform 0.5s linear;

}

.container.show-nav .circle-nav{
    transform: rotate(-70deg);
}



.circle-nav button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: white;
}

.circle-nav button:focus{
    outline: none;
}

.circle-nav button#open{
    left: 60%;
}

.circle-nav button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;

}

.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay: 0.3s;
}


nav{
    font-family: 'Lato', sans-serif;
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul{
    list-style-type: none;
    padding-left: 30px;
}

nav ul li{
    text-transform: uppercase;
    color: white;
    margin: 40px 0;
    transform: translateX(-100%); 
    transition: transform 0.4s ease-in;
}

nav ul li i{
    font-size: 20px;
    margin-right: 10px;
}

nav ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li + li{
    margin-left: 30px;
    transform: translateX(-200%);
}